body {
  background-color: #fff;
  color: #333;
}

p.message-panel {
  text-align: justify;
}

.field, .actions {
  margin-bottom: 20px;
}

.mid-field {
  margin-bottom: 10px;
}

.container {
  margin-top: 0px;
}

input.error {
  border-color: brown;
}

select.error {
  border-color: brown;
}

label.error {
  color: brown;
}

p {
  color: grey;
}

/* users */
.subscribe-container {
  max-width: 300px;
}

.subscribe-extend-container {
  max-width: 300px;
}

.login-container {
  max-width: 300px;
}

.subscribe-credit-card-expiration-label {
  margin-right: 5px;
}

.subscribe-credit-card-expiration-month {
  max-width: 65px;
  display: inline-block !important
}

.amount-photos-count-label {
  margin-right: 5px;
}
.amount-photos-count {
  max-width: 65px;
  display: inline-block !important
}
.amount-total-label {
  margin-left: 10px;
  display: inline-block !important
}
.amount-total-value {
  display: inline-block !important
}

.subscribe-credit-card-expiration-year {
  max-width: 80px;
  display: inline-block !important
}

.subscribe-credit-card-cvv {
  max-width: 70px;
  display: inline-block !important
}

.email-verification-container {
  max-width: 300px;
}

.participant-email-wrapper {
  max-width: 300px;
}

/* photos */
.photos-container {
  max-width: 300px;
}
.verification-code-container {
  max-width: 300px;
}
.verification-email-container {
  max-width: 300px;
}

.photos-list-view {
  margin-bottom: 30px;
}
.upload-container {
  margin-bottom: 30px;
  max-width: 300px;
}
.photos-list-item {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}